doc
Meta
inst/doc
*-Ex.R
*.knit.md
*.utf8.md
.httr-oauth
.Rapp.history
.RData
.Rhistory
.Rproj
.Rproj.user
.Rproj.user/
/*.Rcheck/
/*.tar.gz
/*_cache/
/cache/
vignettes/*.html
vignettes/*.pdf
vignettes/*.png
/README.html
build.sh
rangeMapper.sublime-workspace
