*-Ex.R
*.knit.md
*.utf8.md
.httr-oauth
.Rapp.history
.Rbuildignore
.RData
.Rhistory
.Rproj
.Rproj.user
.Rproj.user/
.sublime-workspace
/*.Rcheck/
/*.tar.gz
/*_cache/
/cache/
vignettes/*.html
vignettes/*.pdf
vignettes/*.png