# https://github.com/craigcitro/r-travis
language: c

before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- ./travis-tool.sh bootstrap

env:
- global:
- WARNINGS_ARE_ERRORS=0

install:
- ./travis-tool.sh r_binary_install sp raster rgeos rgdal RSQLite maptools RSQLite.extfuns RColorBrewer classInt rgeos shiny

script: ./travis-tool.sh run_tests

on_failure:
- ./travis-tool.sh dump_logs

notifications:
email:
on_success: change
on_failure: change