# https://github.com/craigcitro/r-travis
language: c
before_install:
- curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
- chmod 755 ./travis-tool.sh
- ./travis-tool.sh bootstrap

install:
# - ./travis-tool.sh install_github rstats-db/RSQLite
- ./travis-tool.sh install_deps

script: ./travis-tool.sh run_tests

notifications:
email:
on_success: change
on_failure: change